body{margin: 0;
    font-family:"Lexend",sans-serif;
}
.container>div{
    width: 100vw;
}
.div1{height: 100vh;}
.div1 video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
   
    background:linear-gradient(to bottom,rgba(255, 255, 255, 0),rgb(0, 0, 0));
}
.headcontent #logo{
    position: absolute;
    z-index: 2;
    height: 68px;
    width: 290px;
    left: 50%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.headcontent h1{
    position: absolute;
    color: white;
    text-align: center;
    top: 41.5%;
    left: 50%;
    font-size:63px;
    font-family:'Lexend',sans-serif;
    line-height: 4.5rem;
    transform: translate(-50%,-50%);
}
.headcontent p{
    position: absolute;
    color: white;
    text-align: center;
    top: 62%;
    left: 50%;
    font-family:sans-serif;
    font-size: 25px;
    transform: translate(-50%,-50%); 
    line-height: 2rem;
}
.headcontent .gplayappstore
{
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 15px;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.headcontent .gplayappstore #gplaylogo{
    width:231px;
    height: 131px;  
}
.headcontent .gplayappstore #appstorelogo{
    transform: translateY(34px);
    
    width:200px;
    height: 64px;
   
}
.headcontent .scroll{
    position: absolute;
    color: white;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: sans-serif;
    animation: anime 0.5s ease infinite alternate; 
    
}
.headcontent .scroll span{
    display: inline-block;
    transform: rotate(-90deg);
    font-size: 1.3em;
}
@keyframes anime{
     0%{bottom: 50px;}
    100%{bottom: 59px;}
    
    
}
.div2{
height: 100vh;
background-image: url("page2bg.png");
margin-bottom: 100px;
background-repeat:no-repeat ;
background-size: 1050px ;
background-position-y: 30px;
background-position-x:-700px ;
}
.div2 .head2{
    position: relative;  
    text-align: center;
    width: 50%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:sans-serif;
}
.div2 .head2 h1{
    font-size: 4em;
    padding-top: 15px;    
    color: rgb(239 79 95);
    
}
.div2 .head2 p{
    color: rgb(94, 94, 94);
    font-weight: lighter;
    font-size: 22px;
    letter-spacing: 0.03rem;
    word-spacing: 0.3rem;
    line-height: 1.8rem;
}
.gridcontainer{
    position: relative;
    height: 15%;
    width: 60%;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: auto auto auto; 
    box-shadow:2px 2px 10px rgb(195, 195, 195);
    border-radius: 25px;
    padding-left: 30px;
    font-family:'Lexend',sans-serif;
    overflow: hidden;
    column-gap: 2px;
}
.gridcontainer>div{
    text-align: left;
    height: 100%;   
    padding-left: 15px;
    padding-top: 25px;
    background-color: rgb(255, 255, 255);
   
}
.coulumn span{
    
    color: rgb(75, 99, 120);
    font-size: 37px;
    font-weight:800;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
}
.coulumn p{
    font-size: 18px;
    transform: translateY(-13px);
    font-family: sans-serif;
    color: rgb(113, 111, 143);
}
.gridcontainer #col1>img{
    position: relative;
    top: -80px;
    left: 210px;
    width: 55px;
    height: 50px;
}
.gridcontainer #col2>img{
    position: relative;
    top: -80px;
    left: 120px;
    width: 37px;
    height: 50px;
}
.gridcontainer #col3>img{
    position: relative;
    top: -80px;
    left: 190px;
    width: 50px;
    height: 50px;
}
.div2 #burger{
    width: min(22%,240px);
    position: relative;
    left: 250px;
   bottom: 250px;
   animation: burgeranim 1.5s ease-in-out alternate;
  
  
}
.div2 #leaf{
    position: relative;
    top: -600px;
    left: 250px;
    width: 3rem;
}
.div2 #tomato{
    position: relative;
    right:95px;
    top: -95px;
    width: 3rem;
}
.div2 #tomato2{
    position: relative;
    float: right;
    right: 100px;
    bottom: 250px;
    width: 3rem;
    transform: scaleX(-1);
}
.div2 #pizza{
    width: min(22%,240px);
    position: relative;
    float: right;
    right: 100px;
    bottom: 200px;
    animation: pizzaanim 1.5s ease-in-out alternate;
 
}
.div2 #momos{
    width: min(22%,240px);
    position: relative;
    float: right;
    left: 20px;
    bottom: 475px;
    transform: scaleY(0.88);
    animation: momosanim 1.5s ease-in-out alternate;
    

}
@keyframes burgeranim{
    from{transform: translate(-400px,-100px);}
}
@keyframes pizzaanim{
    from{transform: translate(400px,-100px);}
}
@keyframes momosanim{
    from{transform: translate(400px,-100px);}
}
.div3{
    background: linear-gradient(to top,white , rgb(255, 255, 255),rgba(235, 160, 160, 0.351));
    height: 100vh;
}
.div3 .head3{
    position: relative;  
    text-align: center;
    width: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family:"Lexend",sans-serif;
}
.div3 .head3 h1{
    font-size: 4em;
    font-weight: 700;
    padding-top: 15px;   
    color: rgb(239, 79, 95);
}
.div3 .head3 p{
    position: absolute;
    color: rgb(94, 94, 94);
    font-weight:300;
    width: 100%;
    font-size: 24px;
    top: 120%;
    left: 50%;
    transform: translate(-50%,-50%);
    letter-spacing: 0.02rem;
    word-spacing: 0.3rem;
    line-height: 2rem;
}
.div3>.photogallery{
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: 80%;  
    
}
.phonecontainer::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to top,white,transparent);
}
.photogallery #phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    width: auto;
    
}
.callendardiv{
    position: absolute;
    height: 160px;
    width:142px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 10px rgb(225, 223, 223);
    border-radius: 30px;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.callendardiv #calendar{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 90px;
}
.callendardiv p{
    display: block;
    top: 95px;
    position: relative;
    text-align: center;
}
.photogallery>.smallcontainer{
    position: relative;
    background-color: white;
    height: 130px;
    width:115px;
     box-shadow: 1px 2px 10px rgb(225, 223, 223);
    border-radius: 30px; 
}
.smallcontainer img{
     position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 70px;
}
.smallcontainer p{
    position: relative;
    display: block;
    top: 3px;
    position: relative;
    text-align: center;
    font-size: 15px;
}
#banana{ 
    top: 20px;
    left: 130px;   
}
#veg{   
    left: 270px;
    bottom: 43%; 
}
#cola{
    bottom: 95px;
    left: 160px;   
}
#gift{
    bottom: 245px;
    left: 300px;   
}
#noodles{ 
    float: right;
    bottom: 498px;
    right:330px;   
}
 #offer{ 
    float: right;  
    right: 75px;
    bottom: 519px;
}
#train{
    float: right;
    bottom: 355px;
    right: 70px;   
}
#burger2{
    float: right;
    bottom: 375px;
    left: 185px;  
} 

.div4{
  background: #ffffff;
  color: #fff;
 
}
    .top-curve,
    .bottom-curve {
        overflow: auto;
      width: 100%;
      height: 120px;
      background: white;
    }
    
    .top-curve svg,
    .bottom-curve svg {
        overflow: hidden;
      display: block;
      width: 100%;
      height: 120px;
    }
    .goldcontent{
        background-color: black;
        height: 65vh;
        margin-top: -25px;
    }
    .zomatoimg{
        position: relative;
        height: 60%;
        width: 50%;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    
    }
      .zomatosmall{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        width:140px;
      }
      .goldzomato{
        top: 15%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: auto;
        width:250px;
      }
      .goldtext{
        position: relative;
        top: 45%;
        font-size: 20px;
        text-align: center;
        background:linear-gradient(to right,rgb(61, 35, 5) 20%,rgb(235, 213, 140) 50%,rgb(49, 27, 4) 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

       }
       .goldtext2{
        top: 55%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        font-size: 25px;
        text-align: center;
        letter-spacing:0.1rem;
        
       }
       .goldtext2 span{
            display: inline-block;
            font-size: 10px;
            transform: translateY(-5px);
       }

.goldcontent2 {
    
    position: relative;
    top: 15%;
    width: 60%;
    left: 54%;
    transform: translateX(-50%);
    display: flex;
    gap: 45px;
    justify-content: center;
    align-content: stretch;
    align-items: center;
}

.itemdiv4:nth-child(1),
.itemdiv4:nth-child(2) {
    
  width: 300px;
  line-height: 12px;
  height: 110px;
}
.para1div4{
    font-size: 20px;
}
.para2div4{
        background:linear-gradient(to right,rgb(225, 133, 28) ,rgb(235, 213, 140) ,rgb(197, 116, 29) );
        -webkit-background-clip: text;
        font-size: 16px;
        padding-bottom: 0.2em;
        -webkit-text-fill-color: transparent;
}
 #delivery,#scooter{
    width: 60px;
    position: absolute;
    transform: translateX(-120%);
 }
 #coin1{
    position: absolute;
    width: 220px;
    bottom: 420px;
    left: 950px;
 }
 #coin2{
    position: absolute;
    width: 160px;
    bottom: 420px;
    left: -350px;
 }
 #coin3{
    position: absolute;
    width: 155px;
    right: 88px;
    bottom: -110px;
 }
 .div5{
    height: 200vh;
 }
 .head5{
    position: relative;
   
    width: 50%;
    height: 26%;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    
 }
 #eternal{
    position: relative;
    width: 260px;
    left: 50%;
    transform: translateX(-50%);
 }
 #para5{
    text-align: center;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    font-weight: 500;
    color: rgb(112, 112, 125);
 }
 .div5inner{
    margin-top: 20px;
    display: flex;
    gap: 35px;
    justify-content: center;
    align-items: center;
}

.item1,.item2,.item3,.item4{
  position: relative;
  background-color: rgb(202, 232, 222);
  width: 340px;
  height: 480px;
  text-align: center;
  border-radius: 30px;
  transition: transform 0.15s ease;
}
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover{
  transform: scale(1.07,1.1);
}
.div5inner .item1{
    border: 2px solid rgba(250, 201, 209, 0.782);
   background: linear-gradient(to top,rgb(255, 252, 252)25%,rgb(246, 230, 230)70%,rgb(255, 220, 220)90%);
}
.div5inner .item2{
    border: 2px solid rgb(217, 220, 0);
    background: linear-gradient(to top,rgb(253, 255, 220)25%,rgb(251, 255, 217)50%,rgb(252, 255, 220)90%);
}
.div5inner .item3{
    border: 2px solid rgba(185, 144, 222, 0.564);
    background: linear-gradient(to top,rgb(255, 255, 255)20%,rgb(251, 244, 255)50%,rgb(238, 223, 253)90%);
}

.div5inner .item4{
    border: 2px solid rgba(250, 201, 209, 0.782);
    background: linear-gradient(to top,rgb(255, 252, 252)25%,rgb(246, 230, 230)70%,rgb(255, 220, 220)90%);
}
.ads{
    width: 200px;
    border-radius: 30px;
    transform: translateY(50px);
}
.adsh3{
    position: relative;
    font-size: 26px;
    top: 45px;
    color: black;   
}
.adspara{
    position: relative;
    top: 40px;
    font-size: 17px;
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: 0.5px;
    color: rgb(97, 97, 97);
}
.adsfooter{
    position: relative;
    top: 35px;
    font-size: 16px;
    text-align: center;
    
}
.adsfooter .adsspan{
    display: inline-block;
    transform: rotateZ(90deg);
   
}


.div5outer {
    top: 15%;
    position:relative;
    display: flex;
    height: 70vh;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    gap: 1px;
    justify-content: center;  
    align-items: center;
    border-radius: 50px;
    border:5px solid rgb(255, 219, 219);
    background: linear-gradient(to bottom,rgb(255, 255, 255)25%,rgb(241, 239, 239)70%,rgb(254, 232, 232)90%);
}
.itemdiv5:nth-child(1),
.itemdiv5:nth-child(2) {
    position: relative;
    width: 90vw;
    height:70vh;
}
#itemdiv5h1{
    position: relative;
    top:28%;
    left:24%;
    font-size: 42px;
}
#itemdiv5para{
    position: relative;
    top:24%;
    left:24%;
    font-size: 24px;
    color: rgb(101, 100, 100);
    line-height: 2rem;
}
#gplay2{
    position: relative;
    height: 55px;
    top: 150px;
    left: 24%;
    transition: transform 0.2s ease;
}
#appstore2{
    position: relative;
    height: 55px;
    top: 150px;
    left: 27%;
    transition: transform 0.2s ease;
}
#gplay2:hover,#appstore2:hover{
    transform: scale(1.07,1.1);
}
#itemdiv5phone{
    position: relative;
    height: 60vh;
    top: 10vh;
    left: 14%;
    
}
#item2div5para{
    position: absolute;
    text-align: center;
    font-size: 21px;
    font-weight: 500;
    top: 32%;
    left: 30%;
    color: rgb(100, 100, 100);
}
#scannerimg{
    position: absolute;
    display: block;
    height: 30vh;
    top: 50%;
    left: 29.5%;
}

.div6{
    
    height: 130vh;
}
.div6>.finalfooter{
    position:relative;
    height: 85vh;
    top: 48vh;
    background-color: rgb(0, 0, 0);
}
.footercontainer {
  position: relative;
  display: flex;
  top: 150px;
  gap: 15px;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  
}

.item:nth-child(1),
.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(4),
.item:nth-child(5) {
  width: 170px;
  height: 300px;
  color: rgb(107, 107, 107);
}
.footerh4{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.7rem;
}
.footer4para{
     font-size: 16px;
     line-height: 1.05rem;
     cursor: pointer;
}
.footer4para:hover{
    color: rgb(230, 227, 227);
}
#footergplay2{
    position: relative;
    height: 50px;
    width: 165px;
    top: 50px;
    transition: transform 0.2s ease;
}
#footerappstore2{
    position: relative;
    height: 53px;
    width: 165px;
    top: 30px;
    transition: transform 0.2s ease;
}
#footergplay2:hover,#footerappstore2:hover{
    transform: scale(1.07,1.1);
}
#hr{
    position:absolute;
    display: inline-block;
    border-bottom: 1px solid rgba(124, 122, 122, 0.725);
    top: 65vh;
    width: 59.5vw;
     left: 50%;
    transform: translateX(-50%);
}
.endpara{
    position:absolute;
    display: inline-block;
    color: rgba(117, 119, 126, 0.86);
    top: 66vh;
    width: 59.5vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    line-height: 1.01rem;
}
#endfooterzomato{
    height: 40px;
    position: absolute;
    top: 90px;
    left: 305px;
}
